/* Builds mobile version first, expands to desktop sizes */

/* Basic Elements ---------------------------------------------------------- */

html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #600000;
}

h1 {
  font-size: 4em;
}

p {
  font-size: 1.4em;
}

body {
  font-family: 'Roboto Slab';
  background-color: ivory; /*#FEFDFB;*/
}

h1 hr {
  color: #600000;             /* IE7+ */
  border-color: #600000;      /* Chrome and Safari */
  background-color: #600000;  /* Firefox and Opera */
  max-width: 900px;
}

section {
  padding-top: 40px;
  padding-bottom: 30px;
}

/* Navbar ------------------------------------------------------------------ */

.navbar-nav li a {
  line-height: 20px;
}

/* Intro Section ----------------------------------------------------------- */

.intro {
  width: 100%;
  height: 100%;
  background: url(../img/msc.jpg) no-repeat center scroll;
  background-size: cover;
}

.intro .intro-body {
  text-align: center;
  color: #600000;
}

.intro .transbox {
  width: 100%;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, .65);
  position: absolute;
  left: 0px;
  top: 100px;
}

.intro .intro-body {
  text-align: center;
}

.intro .brand-heading {
  font-size: 2.5em;
}

.intro .intro-text {
  font-size: 1em;
  padding-left: 20px;
  padding-right: 20px;
}

/* Contact Us Section ------------------------------------------------------ */

#contact {
  width: 100%;
  background-color: wheat;
}

/* Resizing for larger screens --------------------------------------------- */

@media (min-width: 768px) {
  
  .intro {
    background: url(../img/msc.jpg) no-repeat center scroll;
    background-color: #ffffff;
    background-size: cover;
  }

  .intro .transbox {
    width: auto;
    border-radius: 15px;
    left: 50px;
    top: 100px;
  }

  .intro .brand-heading {
    font-size: 5em;
  }

  .intro .intro-text {
    font-size: 2em;
  }

}
