/* Builds mobile version first, expands to desktop sizes 
 
 Palette:
  white, ivory, wheat, #600000

/* Basic Elements ---------------------------------------------------------- */

html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #600000;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 1em;
}

body {
  font-family: 'Roboto Slab';
  background-color: ivory; 
}

footer {
  font-size: 1em;
}

h1 hr {
  color: #600000;             /* IE7+ */
  border-color: #600000;      /* Chrome and Safari */
  background-color: #600000;  /* Firefox and Opera */
  max-width: 900px;
}

section {
  padding-top: 40px;
  padding-bottom: 30px;
}

/* Navbar ------------------------------------------------------------------ */

.navbar-default {
  background-color: #600000;
  border-color: #600000;
  font-weight: bold;
  line-height: 30px;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #600000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #600000;
  background-color: white;
}

/* Intro Section ----------------------------------------------------------- */

.intro {
  width: 100%;
  height: 100%;
  background: url(../img/msc-small.jpg) no-repeat center scroll;
  background-size: cover;
}

.intro .intro-body {
  text-align: center;
  color: #600000;
}

.intro .transbox {
  width: 100%;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, .65);
  position: absolute;
  left: 0px;
  top: 100px;
}

.intro .intro-body {
  text-align: center;
}

.intro .brand-heading {
  font-size: 2.5em;
}

.intro .intro-text {
  font-size: 1em;
  padding-left: 20px;
  padding-right: 20px;
}

/* About Us Section -------------------------------------------------------- */

#ace-carousel {
  padding-top: 30px;
}

.carousel-indicators li {
  background: white;
}

.carousel-indicators .active {
  background: #600000;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

/* Calendar ---------------------------------------------------------------- */

#calendar {
  width: 100%;
  height: 70%;
  background-color: wheat;
}

#calendar iframe {
  width: 100%;
  height: 70%; 
  max-width: 900px;
  max-height: 600px;
}

/* Contact Us Section ------------------------------------------------------ */

#contact {
  width: 100%;
  /* background-color: wheat; */
}

/* Resizing for larger screens --------------------------------------------- */

@media (min-width: 768px) {
 
  h1 {
    font-size: 4em;
  }
 
  p {
    font-size: 1.4em;
  }

  footer {
    font-size: 1.4em;
  }

  .intro {
    background: url(../img/msc-large.jpg) no-repeat center scroll;
    background-size: cover;
  }

  .intro .transbox {
    width: auto;
    border-radius: 15px;
    left: 50px;
    top: 100px;
  }

  .intro .brand-heading {
    font-size: 5em;
  }

  .intro .intro-text {
    font-size: 2em;
  }

}
